#news.row
  .news_item.column.grid_12
    .row
      %table{ :border => '0', :cellspacing => '0', :cellpadding => '0' }
        %tr
          %th.graphic{ :rowspan => '2' }
            %img{ :src => 'images/play_symbol.jpg', :alt => 'Play Symbol' }
          %th
            Play Try Outs:  Wednesday, March 10th from 7 - 8pm.
        %tr
          %td
            Hey Middle School Students (grades 5 - 8) interested in acting. Join us for try outs.  The play, held on May 6th, will be a collection of short plays and skits for kids ages 4 to 8.
  .news_item.column.grid_12
    .row
      %table{ :border => '0', :cellspacing => '0', :cellpadding => '0' }
        %tr
          %th.graphic{ :rowspan => '2' }
            %img{ :src => 'images/cloudy_with_meatballs.jpg', :alt => 'Cloudy With Logo' }
          %th
            Spring Break Family Movie Night:  Wednesday March 31 at 7:00pm
        %tr
          %td
            Join us in Freedom Hall for a showing of the animated film Cloudy with a Chance of Meatballs.
  .column.grid_12
    .row
      %table{ :border => '0', :cellspacing => '0', :cellpadding => '0' }
        %tr
          %th.graphic{ :rowspan => '2' }
            %img{ :src => 'images/butterflies.jpg', :alt => 'Cloudy With Logo' }
          %th
            Attracting Butterflies to your Garden: Monday, May 3 at 7:00pm
        %tr
          %td
            Presented by Master Gardener and Peggy Rastiello.